	<div class="row">

		<div class="col">
		<h1 class="title"><a href="{{story?.url}}" target="_blank">{{story?.title}}</a></h1>
		<span *ngIf="story" class="source">({{splitUrl(story.url)}})</span>
		<br>
		<span class="underTitle">
			
			<div class="col">
			<span>{{story?.score}} points</span>
			<span>by {{story?.by}}</span>
			<span>{{story?.time*1000 | timeAgo}}</span>
			<a *ngIf="story" [routerLink]="['/news/', story.id]">Comments: {{story.kids.length}}</a>
		</div>
		</span>
		
	</div>
	</div>
