@import '../../sass/_variables';


.title {
	font-size: 1em; 
	display: inline; 
	
	

}

.underTitle, .source {
	font-size: 0.7em; 
}

.linkedUrl {
	color: black; 
	&:hover {
		text-decoration: none; 
		color: $link-color; 
	}

	&:visited {
		color: $link-color; 
	}
}

