@import '../../sass/_variables';

.navigation {
	background-color: $primary-color;
	height: 3em; 
	
	
}
.header {
	color: white;
	font-weight: bold; 
	text-shadow: 1px 1px #fff;
	

}

.links {
	color: #fff;
	font-weight: none; 

}

