@import '../../sass/_variables';

.navigation {
	background-color: $primary-color;
	height: 3em; 
	
	
}
.header {
	font-weight: bold; 
	text-shadow: 1px 1px #000;

}

.links {
	color: #000;
	font-weight: none; 

}

