<div class="row">
	<div class="col">
		<div class="author">
		<span class="by">{{comment?.by }}</span>
		<span class="commentTime">| {{comment?.time *1000 | timeAgo}}</span>
		</div>
		
		<article class="articles" [innerHTML]="comment?.text"></article>
		<span class="showReplies" *ngIf="comment?.kids.length >0">
		<a (click)="toggleReplies()" *ngIf="showReplies" >Hide replies</a>
		</span>

		<span class="showReplies" *ngIf="comment?.kids.length >0">
		<a (click)="toggleReplies()" *ngIf="!showReplies" >Show replies ({{comment?.kids.length}})</a>
		</span>
		<hr>
	</div>
</div>

<div class="row" *ngIf="showReplies" class="reply">
	<hn-comment-item *ngFor = "let commentId of comment.kids" [commentId] = "commentId"></hn-comment-item>
</div>


