<div class="row">
	<div class="col">
		<span>{{comment?.by}}</span>
		<span>{{comment?.time *1000 | timeAgo}}</span>
		
		<article [innerHTML]="comment?.text"></article>
		<span *ngIf="comment?.kids.length >0">
		<a (click)="toggleReplies()" *ngIf="showReplies" >Hide replies</a>
		</span>

		<span *ngIf="comment?.kids.length >0">
		<a (click)="toggleReplies()" *ngIf="!showReplies" >Show replies ({{comment?.kids.length}})</a>
		</span>
		<hr>
	</div>
</div>

<div class="row" *ngIf="showReplies" class="reply">
	<hn-comment-item *ngFor = "let commentId of comment.kids" [commentId] = "commentId"></hn-comment-item>
</div>


