@import '../sass/_variables';


.news {
	padding-left: 1em; 
	margin-top: 0.3em; 
}

.loadMore {
	margin: 1em;
	border: none; 
	background: white; 
	padding: 0.5em; 
	outline: none; 
	cursor: pointer; 

	&:hover{
		opacity: 0.7; 
		color: $link-color; 
	}


}

.numeration {
	font-weight: bold; 
}

@media only screen and (max-width: 1000px) {

  .numeration {
  	display: none; 
  }

  .news {
  	margin-top: 0.5em; 
  }
}
